* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16;
}

.contanier {
    width: 100%;
    height: 100vh;

}

.main {
    width: 100%;
    display: flex;

}

.header {
    width: 100%;
    background-color: black;
    height: 10vh;
    min-height: 60px;

}

.sidebar {
    background-color: #f8f9fb;
    width: 20%;
    height: 90vh;
    flex-grow: 3;

}

.right-col {
    padding: 15px;
    width: 80%;
    height: 90vh;
    flex-grow: 6;
}

/* -------------------Header---------------- */
.header {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    color: #f3f3f3;
    justify-content: center;
    align-items: center;
    font-size: 1.8;

}

.header_search_box {
    background-color: #4a4e53;
    height: 100%;
    display: grid;
    align-items: center;

}

.header_company_name {
    font-size: 1.3rem;
    padding: 1rem;
    color: #6e6d73;
}

.header_search_box input {
    width: 100%;
    background-color: #4a4e53;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: #f3f3f3;
}

.header_sign {
    background-color: #353a3f;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

}

/* ---------------------sidebar--------------------- */
.sidebar {
    padding: 1.5rem;
}

.sidebar_item:nth-child(n) {
    /* padding: 0.5rem 0.3rem;
    font-size: 1.3rem;
    color: #909193; */
}

.sidebar_item {
    display: flex;
}

.sidebar_i_home {
    /* padding-right: 0.4rem; */
}

.sidebar_text{
    font-size: 1.3rem;
    color: black;
    padding-bottom: 1rem;
}
.blue {
    color: #376bcd;
    font-weight: 600;
}
<<<<<<< HEAD
.icons{
    padding-right: .4rem;
    color: #6e6d73;
}
.topmenu{
    display: flex;
    flex-direction: column;
}
.bottommenu{
    display: flex;
    flex-direction: row;
}
.bottommenu{
    padding-top: 2rem;
}
.saved-reports-icon{
    padding-left: 1rem;
}
.save-reports-text{
    color: #4a4e53;
}

/* Table */
tr,
table {
    border-collapse: collapse;

    width: 100%;
    margin-left: 20px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

tbody>tr td {

    padding: 0.8rem;
}

thead {
    font-weight: 900;
    border-top: solid 0.1rem rgb(216, 216, 216);
    border-bottom: solid 0.1rem rgb(216, 216, 216);

}

thead>tr td {
    padding: 1rem;
>>>>>>> fa653c497a801ab48299c7312ddaf355c12e63fb
}