/* -------------------Header---------------- */
.header {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    color: #f3f3f3;
    justify-content: center;
    align-items: center;
    font-size: 1.8;

}

.header_search_box {
    background-color: #4a4e53;
    height: 100%;
    display: grid;
    align-items: center;

}

.header_company_name {
    font-size: 1.3rem;
    padding: 1rem;
    color: #6e6d73;
}

.header_search_box input {
    width: 100%;
    background-color: #4a4e53;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: #f3f3f3;
}

.header_sign {
    background-color: #353a3f;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

}

/* ---------------------sidebar--------------------- */
.sidebar {
    padding: 1.5rem;
}

.sidebar_item:nth-child(n) {
    padding: 0.5rem 0.3rem;
    font-size: 1.3rem;
    color: #909193;
}

.sidebar_item {
    display: flex;
}

.sidebar_i_home {
    padding-right: 0.4rem;

}

.blue {
    color: #376bcd;
    font-weight: 600;
}